extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura 

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget ipsum ac mi blandit interdum at at nibh. Integer ut orci augue. Maecenas imperdiet mauris ante, sed hendrerit elit egestas a. Aenean eget diam ac tortor sagittis cursus at pulvinar augue. Ut et iaculis orci. Etiam ullamcorper urna sit amet velit tempus, et dictum metus sagittis. Maecenas egestas sapien ut tortor vestibulum viverra. Vestibulum mattis nibh in arcu elementum commodo.
                p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur congue elementum magna, non iaculis metus maximus a. In eu ante vitae purus aliquam volutpat..
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento 
        .container
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2024 al 28 de Marzo de 2024
                        p.precio $2500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales