extends ./layout/index
block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae diam lacinia, cursus tellus in, malesuada lorem. Vivamus pellentesque purus in dolor lobortis fermentum. Vestibulum et massa sit amet metus hendrerit mollis. Curabitur sed tortor ligula. Morbi dictum diam eget metus euismod, at bibendum lorem dapibus.

                p Suspendisse volutpat dignissim mi, sit amet tincidunt augue elementum in. Integer egestas, enim eu aliquet luctus, enim risus porttitor turpis, in porttitor lacus ante ut tortor. Donec dui ante, tempor sed nisl vitae, rhoncus congue eros. Nam vestibulum, purus sed sodales vestibulum, ante enim sagittis velit, sed interdum velit sapien eget nulla. Curabitur vestibulum massa malesuada odio consectetur semper. Mauris tincidunt ultrices elementum.

                p Phasellus ultrices eget magna nec rutrum. Aenean quam metus, ullamcorper ut purus eget, commodo varius nulla. Vivamus purus tellus, viverra ac fringilla at, vehicula eget dolor. Vivamus purus lorem, mollis ut nulla posuere, vulputate varius nunc. Suspendisse rhoncus sagittis aliquam. Sed in purus id est tincidunt dapibus quis ut nulla. Quisque aliquet est ac pretium ornare. Curabitur feugiat neque libero, in tincidunt lorem aliquet tempor.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed in purus id est tincidunt dapibus quis ut nulla. Quisque aliquet est ac pretium ornare. Curabitur feugiat neque libero, in tincidunt lorem aliquet tempor.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Sed in purus id est tincidunt dapibus quis ut nulla. Quisque aliquet est ac pretium ornare. Curabitur feugiat neque libero, in tincidunt lorem aliquet tempor.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Sed in purus id est tincidunt dapibus quis ut nulla. Quisque aliquet est ac pretium ornare. Curabitur feugiat neque libero, in tincidunt lorem aliquet tempor.
